<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="copyright-area">
                    <p>&copy; 2019 <a href="#">Opencv</a>. All rights reserved.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-social text-right">
                    <div class="social-media ">
                        <ul>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>																		
                        </ul>
                    </div>
                </div>
            </div>						
        </div>
    </div>
</footer>