<div class="header-area">
    <header>
      <a class="cd-logo" ><img src="assets/images/logo.png" alt="Logo"></a>
    </header>
    <nav>
      <ul class="cd-primary-nav">
        <li><a routerLink="/" class="active">Home</a></li>
        <li><a routerLink="resume">Resume</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a routerLink="services">Services</a></li>
        <li><a href="testimonial.html">testimonial</a></li>
        <li><a routerLink="contact">Contact us</a></li>								
      </ul>
    </nav>
    <div class="cd-overlay-nav">
      <span></span>
    </div> <!-- cd-overlay-nav -->
    <div class="cd-overlay-content">
      <span></span>
    </div> <!-- cd-overlay-content -->
    <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
  </div>
  <!-- header area start here -->
  <!-- profile-area start here -->
  <div class="profile-area">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="profile-info">
            <div class="profile-inner text-center">
              <div class="profile-img">
                <img src="assets/images/profile/1.png" alt="profle">
              </div>
              <div class="profile-name">
                <h1>Jan Dominique S. Logmao</h1>
              </div>
              <div class="profile-profeson">
                <h4 class="cd-headline letters rotate-3">Professional  
                  <span class="cd-words-wrapper">
                    <b class="is-visible">Developer</b>
                    <b> Web Developer</b>
                  </span>
                </h4>
              </div>
              <div class="profle-social">
                <div class="social-media">
                  <ul>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>																		
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-details mt-230">
            <div class="profile-details-inner">
              <div class="section-title">
                <h3>Profile</h3>
              </div>
              <div class="profile-content table-responsive">
                <table>
                  <tbody>
                    <tr>
                      <td><i class="flaticon-user"></i></td>
                      <td><span>Name</span></td>
                      <td> <b>:</b> </td>
                      <td>Jan Dominique S. Logmao</td>									
                    </tr>
                    <tr>
                      <td><i class="flaticon-calendar"></i></td>
                      <td><span>Date if Birth</span> </td>
                      <td> <b>:</b> </td>
                      <td>July 9, 1994</td>									
                    </tr>
                    <tr>
                      <td><i class="flaticon-map-marker"></i></td>
                      <td><span>Address</span> </td>
                      <td> <b>:</b> </td>
                      <td>B5 Lot 25 Parthenon Street North Olympus Subdivision, Kaligayahan, Quezon City</td>									
                    </tr>
                    <tr>
                      <td><i class="flaticon-call"></i></td>
                      <td><span>Phone</span></td>
                      <td> <b>:</b> </td>
                      <td> +639-055-129-168</td>									
                    </tr>
                    <tr>
                      <td><i class="flaticon-envelope"></i></td>
                      <td><span>Email</span></td>
                      <td> <b>:</b> </td>
                      <td><a href="#">domlogmao@gmail.com</a></td>									
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="btn-list">
                <a href="#" class="btn ">Download CV</a>
                <a href="#" class="btn ">Hire Me</a>
                <a href="#" class="btn ">Recent Work</a>									
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  